.login-background {
    background-image: url("/image/2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  
    .login-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      width: 350px;
  
      h2 {
        margin-bottom: 20px;
      }
  
      input {
        margin-bottom: 15px;
      }
  
      button {
        margin-top: 20px;
      }
  
      .error-message {
        color: red;
        margin-top: 10px;
      }
  
      .register-link {
        margin-top: 20px;
        a {
          color: blue;
        }
      }
    }
  }
  